body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
}

.blue-bar {
    background-color: #93D8E8;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    max-height: 50px;
    width: auto;
}

/* Panel izquierdo con mapa */
.map-panel {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#map {
    height: 400px;
    width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
}

.search-box {
    display: flex;
    margin-bottom: 15px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
}

.search-box button {
    padding: 10px 15px;
    background-color: #93D8E8;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* Panel derecho con formulario */
.form-panel {
    flex: 1;
    min-width: 300px;
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

 #clasificacion option[value="broma"] {
    background-color: #c300ff; /* Amarillo para broma */
    color: #000;
}

#clasificacion option[value="emergencia_real"] {
    background-color: #ff8800; /* Rojo anaranjado para emergencia real */
    color: white;
}

#clasificacion option[value="tty"] {
    background-color: #4682B4; 
    color: white;
}
#prioridad option[value="grave"] {
    background-color: #ff1100;
    color: #000;
}

#prioridad option[value="media"] {
    background-color: #80f894; 
    color: white;
}

#prioridad option[value="baja"] {
    background-color: #eee454; 
    color: white;
}

.submit-btn {
    background-color: #93D8E8;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

.submit-btn:hover {
    background-color: #82c8d8;
}

@media (max-width: 768px) {
    .map-panel, .form-panel {
        margin: 10px;
        min-width: calc(100% - 20px);
    }
}